---
import "../styles/global.css"

interface Props {
  title?: string;
  description?: string;
}

const { 
  title = "Roman Pisani – Software Engineer",
  description = "I'm a versatile software engineer building meaningful projects."
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content="Roman Pisani, Software Engineer, Web Developer, Mobile Developer, Mobile Engineer, Engineer, Full Stack, JavaScript, TypeScript" />
    
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://www.rpisani.dev" />
    <meta property="og:type" content="website" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Roman Pisani",
        "jobTitle": "Software Engineer",
        "url": "https://www.rpisani.dev",
        "sameAs": [
          "https://github.com/romanobro56",
          "https://linkedin.com/in/roman-pisani"
        ]
      }
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>